<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS9.dao.CustomerDAO">
	<select id="totRecCnt" resultType="int">
		select count(*) from asRequest where asMid = #{searchString};
	</select>
	<select id="getAsRequestTotalIdx" resultType="java.lang.Integer">
		select idx from asRequest;
	</select>
	<select id="getAsRequestList" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select a.*, datediff(asDate, now()) as date_diff, e.name as engineerName from asRequest a left join engineerS e on a.engineerIdx=e.idx
			where a.asMid=#{asMid} order by a.idx desc <if test="startIndexNo != -1"> limit #{startIndexNo},#{pageSize}</if>;
	</select>
	<select id="getAsRequestContent" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select a.*, datediff(asDate, now()) as date_diff, e.name as engineerName from asRequest a left join engineerS e 
			on a.engineerIdx=e.idx where a.idx = #{idx};
	</select>
	<select id="getReviewList" resultType="com.spring.javaclassS9.vo.ReviewVO">
		select * from review where engineerIdx = #{engineerIdx};
	</select>
	<select id="getReviewSearch" resultType="int">
		select count(*) from review where asIdx = #{idx};
	</select>
	<select id="getAsChargeContent" resultType="com.spring.javaclassS9.vo.AsChargeVO">
		select * from asCharge where asIdx = #{asIdx};
	</select>
	
	
	<insert id="setAsAppointmentOk">
		insert into asRequest values (default, #{vo.asMid}, #{vo.asName}, #{vo.asDate}, #{vo.asPlace}, #{vo.address},
			#{vo.engineerIdx}, #{vo.machine}, #{vo.progress}, default, #{vo.detailNote}, null, null);
	</insert>
	<insert id="setReviewInput">
		insert into review values(default, #{vo.memberMid}, #{vo.asIdx}, #{vo.engineerIdx}, #{vo.starPoint}, #{vo.reviewDetail});
	</insert>
	<insert id="setAsChargeInput">
		insert into asCharge values(default, #{vo.asIdx}, #{vo.engineerIdx}, #{vo.categoryMain}, #{vo.expendableName}, 
			#{vo.price}, #{vo.quantity}, default, #{vo.totPrice}, default, null, #{vo.statement});
	</insert>
	
	
	<update id="setAsChangeStatement">
		update asRequest set progress=#{progress}, asDate=#{asDate} where idx=#{idx};
	</update>
	<update id="setAsAppointmentComplete">
		update asRequest set progress=#{vo.progress}, comment=#{vo.comment} where idx=#{vo.idx};
	</update>
	<update id="setAsAppointmentProgress">
		update asRequest set progress=#{vo.progress} where idx=#{vo.idx};
	</update>
</mapper>