<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS9.dao.EngineerDAO">
	<select id="getEngineerIdCheck" resultType="com.spring.javaclassS9.vo.EngineerVO">
		select * from engineerS where mid = #{mid} <![CDATA[and level < 99]]>;
	</select>
	<select id="getEngineerNameCheck" resultType="com.spring.javaclassS9.vo.EngineerVO">
		select * from engineerS where name = #{name} <![CDATA[and level < 99]]>;
	</select>
	<select id="totRecCnt" resultType="int">
		select count(*) from engineerS where <![CDATA[level < 99]]>;
	</select>
	<select id="totRecCntSearch" resultType="int">
		select count(*) from engineerS where ${search} like concat('%',#{searchString},'%') <![CDATA[and level < 99]]>;
	</select>
	<select id="getEngineerSearchList" resultType="com.spring.javaclassS9.vo.EngineerVO">
		select * from engineerS where ${part} like concat('%',#{searchString},'%') <![CDATA[and level < 99]]> 
			order by idx desc <if test="startIndexNo != -1"> limit #{startIndexNo},#{pageSize}</if>;
	</select>
	<select id="getAllEngineerList" resultType="com.spring.javaclassS9.vo.EngineerVO">
		select * from engineerS where <![CDATA[level < 99]]> order by starPoint desc, idx desc 
			<if test="startIndexNo != -1"> limit #{startIndexNo},#{pageSize}</if>;
	</select>
	<select id="getEngineerIdxCheck" resultType="com.spring.javaclassS9.vo.EngineerVO">
		select * from engineerS where idx = #{idx};
	</select>
	
	<select id="getScheduleListAll" resultType="com.spring.javaclassS9.vo.ScheduleVO">
		select * from scheduleS;
	</select>
	<select id="getScheduleListOne" resultType="com.spring.javaclassS9.vo.ScheduleVO">
		select * from scheduleS where engineerIdx=#{engineerIdx};
	</select>
	<select id="getEngineerSchedule" resultType="com.spring.javaclassS9.vo.ScheduleVO">
		select date_format(startTime, '%Y-%m-%d') as startDate, date_format(endTime, '%Y-%m-%d') as endDate from scheduleS where engineerIdx=#{engineerIdx};
	</select>
	<select id="getAsRequestList" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select *, datediff(asDate, now()) as date_diff from asRequest where engineerIdx=#{idx} 
			order by idx desc <if test="startIndexNo != -1"> limit #{startIndexNo},#{pageSize}</if>;
	</select>
	<select id="getAsRequestDateList" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select *, datediff(asDate, now()) as date_diff from asRequest where engineerIdx=#{engineerIdx} and 
			(requestDate between #{start} and #{end} and (endDate is null or endDate between #{start} and #{end}))
			or (endDate between #{start} and #{end} and requestDate not between #{start} and #{end}) 
			order by idx desc <if test="startIndexNo != -1"> limit #{startIndexNo},#{pageSize}</if>;
	</select>
	<select id="totAsRequestRecCnt" resultType="int">
		select count(*) from asRequest where engineerIdx=#{searchString};
	</select>
	<select id="totAsRequestDateRecCnt" resultType="int">
		select count(*) from asRequest where engineerIdx=#{engineerIdx} and  
			(requestDate between #{start} and #{end} and (endDate is null or endDate between #{start} and #{end}))  
			or (endDate between #{start} and #{end} and requestDate not between #{start} and #{end});
	</select>
	<select id="getAsRequestContent" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select *, datediff(asDate, now()) as date_diff from asRequest where idx=#{idx};
	</select>
	<select id="getAllAsRequestList" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select r.*, datediff(r.asDate, now()) as date_diff, 
			e.name as engineerName, e.mid as engineerMid 
			from asRequest r left join engineerS e on e.idx = r.engineerIdx 
			<if test="search != ''"> where ${search} like concat('%',#{searchString},'%') </if>
			order by r.idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getAllAsRequestDateList" resultType="com.spring.javaclassS9.vo.AsRequestVO">
		select r.*, datediff(r.asDate, now()) as date_diff, 
			e.name as engineerName, e.mid as engineerMid 
			from asRequest r left join engineerS e on e.idx = r.engineerIdx 
			where r.requestDate between #{startSearchDate} and #{endSearchDate} 
			or endDate between #{startSearchDate} and #{endSearchDate}
			order by r.idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getAllReceiveMessageList" resultType="com.spring.javaclassS9.vo.Message2VO">
		select * from messageS2 where receiveMid = #{mid} and receiveSw != 'd' order by sendDate desc;
	</select>
	<select id="getAllSendMessageList" resultType="com.spring.javaclassS9.vo.Message2VO">
		select * from messageS2 where sendMid = #{mid} and sendSw != 'd' order by sendDate desc;
	</select>
	
	
	<insert id="setEngineerJoinOk">
		insert into engineerS values (default, #{vo.name}, #{vo.mid}, #{vo.pwd}, default, #{vo.tel}, #{vo.email},
			#{vo.place}, #{vo.machine}, #{vo.photo}, #{vo.joinDate}, default);
	</insert>
	
	<insert id="setScheduleInput">
		insert into scheduleS values(default, #{vo.engineerIdx}, #{vo.title}, #{vo.startTime}, #{vo.endTime}, #{vo.allDay});
	</insert>
	
	<insert id="setMessageInputOk">
		insert into messageS2 values(default,#{vo.sendMid}, #{vo.receiveMid}, #{vo.content}, 
			#{vo.sendSw}, default, #{vo.receiveSw}, default);
	</insert>
	
	
	<update id="setEngineerReviewInput">
		update engineerS set starPoint = #{starPoint} where idx = #{idx};  
	</update>
	<update id="setEngineerPwdUpdate">
		update engineerS set pwd = #{pwd} where mid = #{mid};
	</update>
	<update id="setEngineerUpdateOk">
		update engineerS set name=#{vo.name}, tel=#{vo.tel}, email=#{vo.email},
			place=#{vo.place}, machine=#{vo.machine}, photo=#{vo.photo} where idx=#{vo.idx};
	</update>
	<update id="setEngineerMidChange">
		update engineerS set mid=#{mid} where idx=#{idx};
	</update>
	
	<update id="setScheduleUpdate">
		update scheduleS set title=#{vo.title}, engineerIdx=#{vo.engineerIdx}, startTime=#{vo.startTime},
			endTime=#{vo.endTime}, allDay=#{vo.allDay} where idx=#{vo.idx};
	</update>
	
	<update id="setMessageCheck">
		update messageS2 set receiveSw = 'r' where idx=#{idx};
	</update>
	<update id="setMessageDelete">
		update messageS2 set 
			<if test="sw == 'receiveSw'"> receiveSw = 'd' </if>
			<if test="sw == 'sendSw'"> sendSw = 'd' </if> where idx=#{idx};
	</update>
	
	
  <delete id="setScheduleDeleteTrue">
  	delete from scheduleS where title = #{title} and startTime = #{startTime} and engineerIdx=#{engineerIdx};
  </delete>
  <delete id="setScheduleDelete">
  	delete from scheduleS where title=#{title} and startTime=#{startTime}
  		and endTime=#{endTime} and allDay=#{allDay} and engineerIdx=#{engineerIdx};
  </delete>
  
  <delete id="setMessageDeleteDB">
		delete from messageS2 where idx = #{idx};
	</delete>
	
  
</mapper>